<% title "Slack - Help" %>

<div class="ui inverted vertical segment" style="padding: 2em 2em 1em;">
  <h1 class="ui yellow inverted header">goodservice.io for Slack</div>
  </h1>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(51, 51, 51); padding: 1em 2em;">
  <h3 class="ui grey inverted header">Help</h3>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(102, 102, 102); padding: 1em 2em;">
  <h4 class="ui grey inverted header">Try typing <i>/goodservice help</i></h4>
  <div>
    <%= image_tag('slack-help.gif', class: "screenshot") %>
  </div>
  <h4 class="ui grey inverted header">More questions or suggestions? Email <a href="mailto:hello@goodservice.io">hello@goodservice.io</a></h4>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(153, 153, 153); padding: 1em 2em;">
  <a href="/slack/install">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(204, 204, 204); padding: 1em 2em;">
  <div class="ui menu pointing secondary stackable">
    <a href="/slack" class="item">goodservice.io for Slack</a>
    <a class="active item">Help</a>
    <a href="/slack/privacy" class="item">Privacy Policy</a>
  </div>
</div>
<div class="ui inverted vertical segment footer" style="padding: 1em 2em;">
  <div class="ui inverted stackable divided grid">
    <div class="row">
      <div class="four wide column">
        <h4 class="ui inverted header"><a href="/">Home</a></h4>
        <h4 class="ui inverted header">Use goodservice.io on</h4>
        <div role="list" class="ui inverted link list">
          <div role="listitem" class="item"><a href="https://www.amazon.com/dp/B09BNC892W/" target="_blank">Alexa</a></div>
          <div role="listitem" class="item"><a href="https://assistant.google.com/services/a/uid/0000008e2bd43866" target="_blank">Google Assistant</a></div>
          <div role="listitem" class="item"><a href="/slack">Slack</a></div>
          <div role="listitem" class="item"><a href="/twitter">Twitter</a></div>
        </div>
      </div>
      <div class="eight wide column">
        <h4 class="ui inverted header">Related</h4>
        <div role="list" class="ui inverted link list">
          <div role="listitem" class="item"><a href="https://www.medium.com/good-service" target="_blank">Good Service Blog</a></div>
          <div role="listitem" class="item"><a href="https://www.theweekendest.com" target="_blank">The Weekendest - Real-Time Map</a></div>
          <div role="listitem" class="item"><a href="https://www.subwayridership.nyc" target="_blank">NYC Subway Ridership</a></div>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Created by <a href="https://sunny.ng">Sunny Ng</a>.</h4>
        <p><a href="https://github.com/blahblahblah-/goodservice-v2">Source code</a>.</p>
      </div>
    </div>
  </div>
</div>