<% title "Slack - Help" %>

<div class="ui inverted vertical segment" style="padding: 2em 2em 1em;">
  <h1 class="ui yellow inverted header">goodservice.io for Slack</div>
  </h1>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(51, 51, 51); padding: 1em 2em;">
  <h3 class="ui grey inverted header">Help</h3>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(102, 102, 102); padding: 1em 2em;">
  <h4 class="ui grey inverted header">Try typing <i>/goodservice help</i></h4>
  <div>
    <%= image_tag('slack-help.gif') %>
  </div>
  <h4 class="ui grey inverted header">More questions or suggestions? Email <a href="mailto:hello@goodservice.io">hello@goodservice.io</a></h4>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(153, 153, 153); padding: 1em 2em;">
  <a href="/slack/install">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(204, 204, 204); padding: 1em 2em;">
  <div class="ui menu pointing secondary">
    <a href="/slack" class="item">goodservice.io for Slack</a>
    <a class="active item">Help</a>
    <a href="/slack/privacy" class="item">Privacy Policy</a>
    <a href="https://github.com/blahblahblah-/goodservice-v2" class="item">GitHub</a>
  </div>
</div>
<div class="ui inverted vertical segment" style="padding: 1em 2em;">
  <div class="ui grid">
    <div class="six wide column">
      <a href="https://medium.com/good-service">
        <button class="ui circular icon button medium-icon" role="button">
          <i aria-hidden="true" class="medium m icon"></i>
        </button>
      </a>
      <a href="https://twitter.com/goodservice_io">
        <button class="ui twitter circular icon button" role="button">
          <i aria-hidden="true" class="twitter icon"></i>
        </button>
      </a>
    </div>
    <div class="right aligned ten wide column">
      Created by <a href="https://sunny.ng">Sunny Ng</a>.<br><a href="https://github.com/blahblahblah-/goodservice-v2">Source code</a>.
    </div>
  </div>
</div>