<% title "Slack - Privacy Policy" %>

<div class="ui inverted vertical segment" style="padding: 2em 2em 1em;">
  <h1 class="ui yellow inverted header">goodservice.io for Slack</div>
  </h1>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(51, 51, 51); padding: 1em 2em;">
  <h3 class="ui grey inverted header">Privacy Policy</h3>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(102, 102, 102); padding: 1em 2em;">
  <h4 class="ui grey inverted header">TL;DR</h4>
  <p>goodservice.io does not want to know who you are and does not store any of your personal information.</p>
  <h4 class="ui grey inverted header">1 - Definition and Nature of Personal Data</h4>
  <p>During your use of goodservice.io, we do not require you to provide us with any personal data.</p>
  <h4 class="ui grey inverted header">Information Gathering</h4>
  <h5 class="ui grey inverted header">2.1 - Information Collected About Your Team from Slack</h5>
  <p>We are given your team's Slack ID, Team Name and Domain upon registration and upon each command call, but we do not store any of it.</p>
  <h5 class="ui grey inverted header">2.2 - Information You Provide to Us</h5>
  <p>We do not require that you provide us with any personal data to enable functionality of goodservice.io.</p>
  <h5 class="ui grey inverted header">2.3 - Information Collected via Technology</h5>
  <p>We collect and log a minimal amount of activity data related to interactions had with goodservice.io via Google Analytics. This includes but is not limited to, Location request, webpages accessed, IP addressed, browser types, and operating system. Please refer to <a href="https://policies.google.com/technologies/partner-sites">Google Analytics' Privacy & Terms</a> on how Google Analytics uses the information.</p>
  <h4 class="ui grey inverted header">3 - Transfer or Sale of Personal Data</h4>
  <p>We shall not sell, transfer or lease out your personal data to third parties.</p>
  <h4 class="ui grey inverted header">4 - Safety</h4>
  <p>We reserve the right, at our sole discretion, to modify this Privacy policy or any portion thereof. Any changes will be effective from the time of publication of the new Privacy policy. Your use of the Website after the changes have been implemented implicitly expresses your acknowledgement and acceptance of the new Privacy policy. Otherwise, and if the new Privacy policy does not suit you, you must no longer use the Services.</p>
  <h4 class="ui grey inverted header">5 - Modifications</h4>
  <p>We reserve the right, at our sole discretion, to modify this Privacy policy or any portion thereof. Any changes will be effective from the time of publication of the new Privacy policy. Your use of the Website after the changes have been implemented implicitly expresses your acknowledgement and acceptance of the new Privacy policy. Otherwise, and if the new Privacy policy does not suit you, you must no longer use the Services.</p>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(153, 153, 153); padding: 1em 2em;">
  <a href="/slack/install">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
</div>
<div class="ui inverted vertical segment" style="background-color: rgb(204, 204, 204); padding: 1em 2em;">
  <div class="ui menu pointing secondary">
    <a href="/slack" class="item">goodservice.io for Slack</a>
    <a href="/slack/help" class="item">Help</a>
    <a class="item active">Privacy Policy</a>
    <a href="https://github.com/blahblahblah-/goodservic-v2" class="item">GitHub</a>
  </div>
</div>
<div class="ui inverted vertical segment" style="padding: 1em 2em 5em;">
  <div class="ui grid">
    <div class="six wide column">
      <a href="https://medium.com/good-service">
        <button class="ui circular icon button medium-icon" role="button">
          <i aria-hidden="true" class="medium m icon"></i>
        </button>
      </a>
      <a href="https://twitter.com/goodservice_io">
        <button class="ui twitter circular icon button" role="button">
          <i aria-hidden="true" class="twitter icon"></i>
        </button>
      </a>
    </div>
    <div class="right aligned ten wide column">
      Created by <a href="https://sunny.ng">Sunny Ng</a>.<br><a href="https://github.com/blahblahblah-/goodservice-v2">Source code</a>.
    </div>
  </div>
</div>