body {
  background: #1b1c1d !important;
}

.header-segment {
  padding: 2em 2em 1em 2em;
}

.blogpost-segment {
  background-color: #333333;
  padding: 1em 2em;
}

.trains-segment {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0;
  padding: 0;
}

.ui.grid.train-grid {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.ui.grid.mobile-train-grid {
  @media only screen and (min-width: 768px) {
    display: none;
  }

  .train-status-row {
    padding-bottom: 0;
  }
}