body {
  background: #1b1c1d !important;
}

.header-segment {
  padding: 2em 2em 1em 2em;
}

.blogpost-segment {
  background-color: #333333;
  padding: 1em 2em;
}

.trains-segment {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0;
  padding: 0;
}
