.ui.large.modal.active.station-modal {
  @media only screen and (max-width: 767px) {
    width: 100% !important;
  }

  .close.icon {
    color: white;
  }

  .header .content {
    line-height: 37px;

    .train-list {
      display: inline-block;

      .route {
        margin-left: 0;

        &.diamond {
          margin-left: .25em;
        }
      }
    }
  }

  .accessibility-advisories {
    .ui.inverted.header {
      margin-top: 0;
    }
  }

  .transfers {
    .station-list-item {
      .secondary-name {
        line-height: 1.3em;
      }

      .cross {
        height: 21px;
        width: 21px;
        margin: .25em;
        margin-top: 0;
      }
    }

    .others{
      cursor: default;
    }
  }

  .trip-table {
    .delayed, .late {
      color: #ff695e;
    }

    .early {
      color: #2ecc40;
    }

    .delayed-text {
      margin-top: 0;
    }

    .station-name {
      @media only screen and (max-width: 767px) {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }

    .more {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    .show-more {
      font-style: italic;
      cursor: pointer;
      height: 3em;

      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}
