.station-list {
  .results {
    i.icon {
      display: inline;
      font-size: 1em;
    }

    .secondary-name {
      color: #aaaaaa;
      font-weight: 300!important;
      margin-left: .4rem;
      font-size: 0.9em;
    }

    .cross {
      height: 21px;
      width: 21px;
      margin: .25em;
      margin-top: 0;
    }
  }
}