.ui.fullscreen.modal.active.station-modal {
  @media only screen and (max-width: 767px) {
    width: 100% !important;
  }

  .close.icon {
    color: white;
  }

  .header .content {
    line-height: 37px;

    .train-list {
      display: inline-block;

      .route {
        margin-left: 0;

        &.diamond {
          margin-left: .25em;
        }
      }
    }
  }

  .accessibility-advisories {
    .ui.inverted.header {
      margin-top: 0;
    }
  }

  .transfers .station-list-item {
    .secondary-name {
      line-height: 1.3em;
    }
  }

  .trip-table {
    .delayed-text {
      margin-top: 0;
    }
    .station-name {
      @media only screen and (max-width: 767px) {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }
  }
}
