.ui.segment.train-modal-direction-pane {
  @media only screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  .ui.fluid.selection.dropdown {
    background: #1b1c1d;

    .divider.text, .dropdown.icon {
      color: white;
    }
  }

  .minute {
    font-size: 1rem;
  }

  .travel-time-header {
    margin-top: 0;

    .dropdown {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .trip-table {
    .delayed, .late {
      color: #ff695e;
    }

    .long-headway {
      color: #ffe21f;
    }

    .early {
      color: #2ecc40;
    }

    .station-name {
      @media only screen and (max-width: 767px) {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
      vertical-align: bottom;
    }
  }

  .ui.stackable.grid>.row>.column.trip-table-cell {
    @media only screen and (max-width: 767px) {
      margin-left: -1rem !important;
      margin-right: -1rem !important;

      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .ui.stackable.grid>.row>.column.map-cell {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .ui.stackable.grid>.row>.column.mobile-map-cell {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .table-with-heading {
    margin-top: 1em;
  }

  .ui.small.statistics .statistic>.value {
    @media only screen and (max-width: 767px) {
      font-size: 2rem!important;
    }
  }
}
