.ui.fullscreen.modal.active.train-modal, .ui.fullscreen.modal.active.mobile-train-modal {
  .close.icon {
    color: white;
  }

  .ui.menu.header-menu {
    .item.no-service {
      text-decoration: line-through;
      color: #999999;
    }
  }
}
