.ui.fullscreen.modal.active.train-modal {
  @media only screen and (max-width: 767px) {
    width: 100% !important;
  }

  .close.icon {
    color: white;
  }

  .ui.menu.header-menu {
    .item.no-service {
      text-decoration: line-through;
      color: #999999;
    }
  }
}
