.ui.segment.train-modal-overview-pane {
  .ui.stackable.grid>.row>.column.map-cell {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .ui.stackable.grid>.row>.column.mobile-map-cell {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .ui.stackable.grid>.row>.column.status-cell {
    @media only screen and (max-width: 767px) {
      margin-left: -1rem !important;
      margin-right: -1rem !important;

      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .ui.small.statistics .statistic>.value {
    @media only screen and (max-width: 767px) {
      font-size: 2rem!important;
    }
  }
}