button.ui.segment.train {
  background-color: rgba(0,0,0, 0.1);
  color: white;
  min-height: 8em;

  .ui.header {
    color: white;
  }

  &:hover, &:active, .active, &:focus {
    background-color: rgba(0,0,0, 0.3);
    color: gray;

    .ui.header {
      color: gray;
    }
  }

  .train-bullet {
    float: left;

    .alternate-name {
      margin-left: .2em;
      text-align: left;
    }
  }
}