.train-map-stop {
  .container {
    min-height: 50px;
    display: flex;

    .left-margin {
      min-width: 40px;
    }

    .travel-time {
      min-width: 40px;
      max-width: 40px;
      margin: auto 0;
      display: inline;
      text-align: center;
      margin-top: 0 !important;

      .warning {
        color: #ff695e;
      }
    }

    .station-name {
      display: inline;
      margin: auto 0;
      // cursor: pointer;
    }

    .transfers {
      display: inline-block;
      margin: auto 0;
    }

    .both-stop {
      border: 1px #999 solid;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      position: relative;
      background-color: white;
      left: 5px;
      top: 20px;
      // cursor: pointer;
    }

    .north-stop {
      border: 1px #999 solid;
      height: 5px;
      width: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative;
      background-color: white;
      left: 5px;
      top: 20px;
      // cursor: pointer;
    }

    .south-stop {
      border: 1px #999 solid;
      height: 5px;
      width: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      position: relative;
      background-color: white;
      left: 5px;
      top: 25px;
      // cursor: pointer;
    }

    .trip-at {
      height: 16px;
      width: 16px;
      position: relative;
      background-color: rgba(0,0,0,.4);
      border-radius: 50%;
      left: -4px;
      top: -7px;
    }

    .trip-before {
      height: 16px;
      width: 16px;
      position: relative;
      border-radius: 50%;
      background-color: rgba(0,0,0,.4);
      left: -4px;
      top: -34px;
    }

    .branch-corner {
      overflow: hidden;
      width: 40px;
      display: inline-block;
    }

    .branch-start {
      height: calc(100% - 35px);
      width: 30px;
      border-top-right-radius: 50%;
      display: block;
    }

    .branch-end {
      height: 100%;
      width: 30px;
      border-bottom-right-radius: 50%;
      display: block;
    }
  }
}