button.ui.inverted.secondary.button.train {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .status {
    font-weight: 200;
  }

  .ui.header {
    color: white;
  }

  &:hover, &:active, .active, &:focus {
    background-color: rgba(0,0,0, 0.3);
    color: gray;

    .ui.header {
      color: gray;
    }
  }

  .train-bullet {
    float: left;

    .alternate-name {
      margin-left: .2em;
      text-align: left;
    }
  }

  @media only screen and (max-width: 767px) {
    padding: 0;
    border: none;
    background: none;
    min-width: 2em;
  }

  @media only screen and (min-width: 768px) {
    min-height: 8em;
  }
}