.ui.large.modal.active.trip-modal {
  @media only screen and (max-width: 767px) {
    width: 100% !important;
  }

  .modal-header {
    @media only screen and (max-width: 767px) {
      font-size: 1.2em;
    }

    .past-stops-toggle {
      float: right;

      @media only screen and (min-width: 768px) {
        margin-right: 1em;
      }

      .toggle-label {
        color: #ccc !important;
      }

      .ui.toggle.checkbox input:checked~label.toggle-label, .ui.toggle.checkbox input:focus:checked~label.toggle-label {
        color: #ccc !important;
      }

      .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label.toggle-label:before, .ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label.toggle-label:before, .ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label.toggle-label:hover::before {
        background: rgba(255,255,255,.05)
      }
    }
  }

  .description {
    margin-top: 0;
    padding-top: 0!important;

    .divider {
      margin-top: 0;
    }

    .trip-table .past {
      color: #aaaaaa;
    }
  }
}
